@left_side_width: 250px;
@major_width: 1250px;
@right_side_width: @major_width - @left_side_width - 10px;
@log_button_width: 100px;
@log_button_height: 30px;
@log_button_border-radius: 3px;
@search_width: 250px;
@search_height: 25px;
@search_border-radius: 30px;
@main_height: 800px;
