@left_side_width: 15%;
@major_width: 100%;
@right_side_width: @major_width - @left_side_width;
@log_button_width: 80px;
@log_button_height: 30px;
@log_button_border-radius: 5px;
@search_width: 250px;
@search_height: 30px;
@search_border-radius: 30px;
@main_height: 800px;
