
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/loginPage" security="none"/>
    <security:http pattern="/js/**" security="none"/>

    <security:http>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <security:form-login login-page="/loginPage" login-processing-url="/login" always-use-default-target="true"
                             default-target-url="/welcome" authentication-failure-url="/loginPage?error=error"/>
        <security:csrf disabled="true"/>
    </security:http>



    <security:authentication-manager>
        <security:authentication-provider user-service-ref="myUserDetailsService">
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="myUserDetailsService" class="org.k2.processmining.security.MyUserDetailService"/>

</beans>

