
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="/admin/loginPage" security="none"/>
    <security:http pattern="/home/loginPage" security="none"/>
    <security:http pattern="/static/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/home/code" security="none"/>
    <security:http pattern="/user/register/**" security="none"/>
    <security:http pattern="/home/accessDeniedPage" security="none"/>
    <security:http pattern="/admin/accessDeniedPage" security="none"/>
    <security:http pattern="/admin/hasLogoutPage" security="none"/>
    <security:http pattern="/home/hasLogoutPage" security="none"/>

    <security:http auto-config="false" pattern="/admin/**" entry-point-ref="adminEntryPoint">
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <!--<security:intercept-url pattern="/admin/**" access="permitAll"/>-->
        <security:custom-filter ref="adminConcurrencyFilter" position="CONCURRENT_SESSION_FILTER"/>
        <security:custom-filter ref="adminFilter"  position="FORM_LOGIN_FILTER"/>
        <security:custom-filter ref="adminRememberMeFilter" position="REMEMBER_ME_FILTER"/>
        <security:logout logout-url="/admin/logout" delete-cookies="JSESSIONID,adminRememberMe" success-handler-ref="adminLogoutSuccessHandler" />
        <security:csrf disabled="true"/>
        <security:access-denied-handler ref="adminAccessDeniedHandler"/>
        <security:session-management session-authentication-strategy-ref="sas" />
    </security:http>

    <security:authentication-manager id="adminAuthenticationManager" erase-credentials="false">
        <security:authentication-provider ref="adminAuthenticationProvider"/>
        <security:authentication-provider ref="adminRememberMeProvider"/>
    </security:authentication-manager>
    <bean id="adminEntryPoint" class="org.k2.processmining.security.admin.AdminLoginEntryPoint" >
        <constructor-arg value="/admin/loginPage"/>
    </bean>
    <bean id="adminAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="userDetailsService" ref="adminUserDetailsService"/>
        <property name="saltSource" ref="customSaltSource"/>
        <property name="passwordEncoder" ref="md5PwdEncoder"/>
    </bean>
    <bean id="adminUserDetailsService" class="org.k2.processmining.security.admin.AdminDetailService"/>
    <bean id="adminFilter" class="org.k2.processmining.security.admin.AdminAuthenticationFilter">
        <property name="authenticationManager" ref="adminAuthenticationManager"/>
        <property name="filterProcessesUrl"  value="/admin/adminLogin"/>
        <property name="usernameParameter" value="workId"/>
        <property name="passwordParameter" value="password"/>
        <property name="authenticationSuccessHandler" ref="adminSuccessHandler"/>
        <property name="authenticationFailureHandler" ref="adminFailureHandler"/>
        <property name="rememberMeServices" ref="adminRememberMeService"/>
        <property name="sessionAuthenticationStrategy" ref="sas"/>
    </bean>
    <bean id="adminSuccessHandler" class="org.k2.processmining.security.admin.AdminSuccessHandler">
        <property name="defaultTargetUrl" value="/admin/home" />
    </bean>
    <bean id="adminFailureHandler" class="org.k2.processmining.security.admin.AdminFailureHandler">
        <property name="defaultFailureUrl" value="/admin/loginPage" />
    </bean>
    <bean id="adminLogoutSuccessHandler" class="org.k2.processmining.security.admin.AdminLogoutSuccessHandler">
        <property name="defaultTargetUrl" value="/admin/loginPage"/>
    </bean>
    <bean id="adminRememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
        <constructor-arg ref="adminAuthenticationManager"/>
        <constructor-arg ref="adminRememberMeService"/>

    </bean>
    <bean id="adminRememberMeService" class="org.k2.processmining.security.admin.AdminRememberService">
        <constructor-arg ref="adminUserDetailsService"/>
        <constructor-arg value="000016aad72443b3b78af239a0b6bd7c"/>
        <property name="parameter" value="adminRemember"/>
        <property name="tokenValiditySeconds" value="25200"/>
        <property name="cookieName" value="adminRememberMe"/>
    </bean>
    <bean id="adminRememberMeProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
        <constructor-arg value="000016aad72443b3b78af239a0b6bd7c"/>
    </bean>
    <bean id="adminAccessDeniedHandler" class="org.k2.processmining.security.CustomAccessDeniedHandler">
        <property name="errorPage" value="/admin/accessDeniedPage"/>
    </bean>
    <bean id="adminConcurrencyFilter"
          class="org.springframework.security.web.session.ConcurrentSessionFilter">
        <constructor-arg name="sessionRegistry" ref="sessionRegistry"/>
        <constructor-arg name="sessionInformationExpiredStrategy" ref="adminSessionInformationExpiredStrategy"/>
    </bean>
    <bean id="adminSessionInformationExpiredStrategy" class="org.k2.processmining.security.admin.AdminSessionInformationExpiredStrategy"/>





    <security:http auto-config="false" pattern="/**" entry-point-ref="userEntryPoint">
        <!--<security:intercept-url pattern="/**" access="permitAll"/>-->
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <security:custom-filter ref="userConcurrencyFilter" position="CONCURRENT_SESSION_FILTER"/>
        <security:custom-filter ref="userFilter" position="FORM_LOGIN_FILTER"/>
        <security:custom-filter ref="userRememberMeFilter" position="REMEMBER_ME_FILTER"/>
        <security:logout logout-url="/home/logout" delete-cookies="JSESSIONID,userRememberMe" success-handler-ref="userLogoutSuccessHandler"/>
        <security:csrf disabled="true"/>
        <security:access-denied-handler ref="userAccessDeniedHandler"/>
        <security:session-management session-authentication-strategy-ref="sas"/>
    </security:http>
    <security:authentication-manager id="userAuthenticationManager">
        <security:authentication-provider ref="userAuthenticationProvider"/>
        <security:authentication-provider ref="userRememberMeProvider"/>
    </security:authentication-manager>
    <bean id="userFilter" class="org.k2.processmining.security.user.UserAuthenticationFilter">
        <property name="authenticationManager" ref="userAuthenticationManager"/>
        <property name="filterProcessesUrl" value="/home/login"/>
        <property name="usernameParameter" value="email"/>
        <property name="passwordParameter" value="password"/>
        <property name="authenticationSuccessHandler" ref="userSuccessHandler"/>
        <property name="authenticationFailureHandler" ref="userFailureHanlder"/>
        <property name="rememberMeServices" ref="userRememberMeService"/>
        <property name="sessionAuthenticationStrategy" ref="sas"/>
    </bean>
    <bean id="userEntryPoint" class="org.k2.processmining.security.user.UserLoginEntryPoint">
        <constructor-arg value="/home/loginPage"/>
    </bean>
    <bean id="userAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userDetailsService"/>
        <property name="hideUserNotFoundExceptions" value="false"/>
        <property name="passwordEncoder" ref="md5PwdEncoder"/>
        <property name="saltSource" ref="customSaltSource"/>
    </bean>
    <bean id="userDetailsService" class="org.k2.processmining.security.user.MyUserDetailService"/>
    <bean id="userFailureHanlder" class="org.k2.processmining.security.user.UserFailureHandler">
        <property name="defaultFailureUrl" value="/home/loginPage"/>
    </bean>
    <bean id="userSuccessHandler" class="org.k2.processmining.security.user.UserSuccessHandler">
        <property name="defaultTargetUrl" value="/home/"/>
    </bean>
    <bean id="userLogoutSuccessHandler" class="org.k2.processmining.security.user.UserLogoutSuccessHandler">
        <property name="defaultTargetUrl" value="/home/loginPage"/>
    </bean>
    <bean id="userRememberMeProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
        <constructor-arg value="111116aad72443b3b78af239a0b6bd7c"/>
    </bean>
    <!--<bean id="userRememberMeService" class="org.k2.processmining.security.user.UserRememberMeService">-->
        <!--<constructor-arg ref="userDetailsService"/>-->
        <!--<constructor-arg value="111116aad72443b3b78af239a0b6bd7c"/>-->
        <!--<property name="parameter" value="userRemember"/>-->
        <!--<property name="tokenValiditySeconds" value="25200"/>-->
        <!--<property name="cookieName" value="userRememberMe"/>-->
    <!--</bean>-->
    <bean id="userRememberMeService" class="org.k2.processmining.security.user.UserPersistentRememberMeService">
        <constructor-arg name="key" value="123"/>
        <constructor-arg name="userDetailsService" ref="userDetailsService"/>
        <constructor-arg name="tokenRepository" ref="tokenRepository"/>
    </bean>
    <bean id="tokenRepository" class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
        <property name="dataSource" ref="dataSource"/>
        <property name="createTableOnStartup" value="true"/>
    </bean>
    <bean id="userRememberMeFilter" class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
        <constructor-arg ref="userAuthenticationManager"/>
        <constructor-arg ref="userRememberMeService"/>
    </bean>
    <bean id="userAccessDeniedHandler" class="org.k2.processmining.security.CustomAccessDeniedHandler">
        <property name="errorPage" value="/home/accessDeniedPage"/>
    </bean>
    <bean id="userConcurrencyFilter"
          class="org.springframework.security.web.session.ConcurrentSessionFilter">
        <constructor-arg name="sessionRegistry" ref="sessionRegistry"/>
        <constructor-arg name="sessionInformationExpiredStrategy" ref="userSessionInformationExpiredStrategy"/>
    </bean>
    <bean id="userSessionInformationExpiredStrategy" class="org.k2.processmining.security.user.UserSessionInformationExpiredStrategy"/>



    <bean id="md5PwdEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>
    <bean id="customSaltSource" class="org.k2.processmining.security.CustomSaltSource"/>
    <bean id="sas" class="org.springframework.security.web.authentication.session.CompositeSessionAuthenticationStrategy">
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">
                    <constructor-arg ref="sessionRegistry"/>
                    <property name="maximumSessions" value="1" />
                </bean>
                <bean class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy">
                </bean>
                <bean class="org.springframework.security.web.authentication.session.RegisterSessionAuthenticationStrategy">
                    <constructor-arg ref="sessionRegistry"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>
    <bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl"/>

</beans>