<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.k2.processmining.mapper.NormalLogMapper">

    <select id="getNormalLogById" resultMap="normalLog">
        SELECT * FROM normal_log WHERE id=#{id}
    </select>

    <select id="listLogGroupsByUserIdAndState" resultMap="org.k2.processmining.mapper.RawLogMapper.logGroup">
        SELECT
          <include refid="org.k2.processmining.mapper.RawLogMapper.logGroupSelectColumns"/>
        FROM
            (SELECT * FROM normal_log WHERE userid=#{userId} AND state=#{state}) NL
            LEFT JOIN event_log EL ON EL.normal_log_id = NL.id
            LEFT JOIN raw_log RL ON NL.raw_log_id = RL.id
    </select>

    <select id="listLogGroupsByStateAndSharedState" resultMap="org.k2.processmining.mapper.RawLogMapper.logGroup">
        SELECT
        <include refid="org.k2.processmining.mapper.RawLogMapper.userColumns"/>
        ,
        <include refid="org.k2.processmining.mapper.RawLogMapper.logGroupSelectColumns"/>
        FROM
        (SELECT * FROM normal_log WHERE state=#{state} AND isshared=#{isShared}) NL
        LEFT JOIN event_log EL ON EL.normal_log_id = NL.id
        LEFT JOIN raw_log RL ON NL.raw_log_id = RL.id
        LEFT JOIN user ON EL.userid = user.id;
    </select>
    
    <!--<update id="updateShareStateByLogId" parameterType="java.util.List">-->
        <!--<foreach collection="list" item="item" index="index" separator=";">-->
            <!--UPDATE normal_log-->
            <!--SET isshared = #{item.state,jdbcType=TINYINT}-->
            <!--WHERE id = #{item.id,jdbcType = VARCHAR}-->
        <!--</foreach>-->
    <!--</update>-->

    <update id="updateShareStateByLogId" parameterType="NormalLog">
        UPDATE normal_log
        SET  isshared = #{state, jdbcType = TINYINT}
        WHERE  id = #{id,jdbcType = VARCHAR}
    </update>

    <insert id="save" parameterType="NormalLog">
        INSERT INTO normal_log(id,log_name,create_date,userid,format, isshared, state, raw_log_id)
        VALUES(#{id}, #{logName}, #{createDate}, #{userId}, #{format}, #{isShared}, #{state}, #{rawLogId})
    </insert>

    <resultMap id="normalLog" type="NormalLog">
        <id column="id" property="id"/>
        <result column="log_name" property="logName"/>
        <result column="create_date" property="createDate"/>
        <result column="format" property="format"/>
        <result column="state" property="state"/>
        <result column="userid" property="userId"/>
        <result column="isshared" property="isShared"/>
        <result column="raw_log_id" property="rawLogId"/>
    </resultMap>

</mapper>