<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.k2.processmining.mapper.RawLogMapper">

    <sql id="userColumns">
        user.id userId, user.username username
    </sql>

    <sql id="logGroupSelectColumns">
        RL.id rawLogId, RL.log_name rawLogName, RL.format rawLogFormat,RL.isshared rawLogIsShared,
        RL.create_date rawLogCreateDate, RL.state rawLogState, RL.userid rawLogUserId,
        NL.id normalLogId, NL.log_name normalLogName, NL.format normalLogFormat,
        NL.create_date normalLogCreateDate, NL.state normalLogState, NL.userid normalLogUserId,
        NL.raw_log_id normalLogRawLogId, NL.isshared normalLogIsShared,
        EL.id eventLogId, EL.log_name eventLogName, EL.format eventLogFormat,
        EL.create_date eventLogCreateDate, EL.state eventLogState, EL.userid eventLogUserId,
        EL.normal_log_id eventLogNormalLogId, EL.isshared eventLogIsShared,
        case_number, event_number, per_event_inCase, event_names, operator_names,merge_relation
    </sql>

    <select id="getRawLogById" resultMap="rawLog">
        SELECT * FROM raw_log WHERE id=#{id}
    </select>

    <insert id="save" parameterType="RawLog">
        INSERT INTO raw_log(id, log_name, create_date, userid, format, state, isshared)
         VALUES (#{id}, #{logName}, #{createDate}, #{userId}, #{format}, #{state}, #{isShared})
    </insert>

    <select id="listLogsByUserIdAndState" resultMap="logGroup">
        SELECT
          <include refid="logGroupSelectColumns"/>
        FROM
            (SELECT * FROM raw_log WHERE userid=#{userId} AND state=#{state}) RL
            LEFT JOIN normal_log NL ON RL.id = NL.raw_log_id
            LEFT JOIN event_log EL ON NL.id = EL.normal_log_id
    </select>

    <select id="listLogsByStateAndSharedState" resultMap="logGroup">
        SELECT
          <include refid="userColumns"/>
          ,
          <include refid="logGroupSelectColumns"/>
        FROM
            (SELECT * FROM raw_log WHERE  state=#{state} AND isshared=#{isShared}) RL
            LEFT JOIN normal_log NL ON RL.id = NL.raw_log_id
            LEFT JOIN event_log EL ON NL.id = EL.normal_log_id
            LEFT JOIN user ON RL.userid = user.id
    </select>

    <select id="listLogsByFuzzyName" parameterType="java.util.Map" resultMap="logGroup">
        SELECT
        <include refid="userColumns"/>
        ,
        <include refid="logGroupSelectColumns"/>
        FROM
        (SELECT * FROM raw_log WHERE log_name LIKE concat(concat('%',#{keyWord}),'%') AND userid = #{userid}) RL
        LEFT JOIN normal_log NL ON RL.id = NL.raw_log_id
        LEFT JOIN event_log EL ON NL.id = EL.normal_log_id
        LEFT JOIN user ON RL.userid = user.id
    </select>

    <!--<update id="updateShareStateByLogId" parameterType="RawLog">-->
        <!--UPDATE raw_log-->
        <!--SET isshared = #{isShared,jdbcType = TINYINT}-->
        <!--WHERE id = #{id,jdbcType = TINYINT}-->
    <!--</update>-->

    <update id="updateLogStateByLogId">
        UPDATE raw_log
        SET state = #{state, jdbcType = TINYINT}
        WHERE id IN
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateShareStateByLogId">
        UPDATE raw_log
        SET isshared = #{isshared}
        WHERE id IN
        <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <resultMap id="logGroup" type="LogGroup">
        <association property="user" javaType="User">
            <id column="userId" property="id"/>
            <id column="username" property="name"/>
        </association>

        <association property="rawLog" javaType="RawLog">
            <id column="rawLogId" property="id"/>
            <result column="rawLogName" property="logName"/>
            <result column="rawLogCreateDate" property="createDate"/>
            <result column="rawLogFormat" property="format"/>
            <result column="rawLogState" property="state"/>
            <result column="rawLogUserId" property="userId"/>
            <result column="rawLogIsShared" property="isShared"/>

        </association>
        <association property="normalLog" javaType="NormalLog">
            <id column="normalLogId" property="id"/>
            <result column="normalLogName" property="logName"/>
            <result column="normalLogCreateDate" property="createDate"/>
            <result column="normalLogFormat" property="format"/>
            <result column="normalLogState" property="state"/>
            <result column="normalLogUserId" property="userId"/>
            <result column="normalLogRawLogId" property="rawLogId"/>
            <result column="normalLogIsShared" property="isShared"/>
        </association>
        <association property="eventLog" javaType="EventLog">
            <id column="eventLogId" property="id"/>
            <result column="eventLogName" property="logName"/>
            <result column="eventLogCreateDate" property="createDate"/>
            <result column="eventLogFormat" property="format"/>
            <result column="eventLogState" property="state"/>
            <result column="eventLogUserId" property="userId"/>
            <result column="eventLogNormalLogId" property="normalLogId"/>
            <result column="eventLogIsShared" property="isShared"/>
            <result column="case_number" property="caseNumber"/>
            <result column="event_number" property="eventNumber"/>
            <result column="per_event_incase" property="perEventInCase"/>
            <result column="event_names" property="eventNames"/>
            <result column="operator_names" property="operatorNames"/>
            <result column="merge_relation" property="mergeRelation"/>
        </association>
    </resultMap>


    <resultMap id="rawLog" type="RawLog">
        <id column="id" property="id"/>
        <result column="log_name" property="logName"/>
        <result column="create_date" property="createDate"/>
        <result column="format" property="format"/>
        <result column="state" property="state"/>
        <result column="userid" property="userId"/>
        <result column="isshared" property="isShared"/>
    </resultMap>
</mapper>