<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.k2.processmining.mapper.RawLogMapper">

    <insert id="save" parameterType="RawLog">
        INSERT INTO raw_log(id, log_name, create_date, userid, format, state)
         VALUES (#{id}, #{logName}, now(), #{userId}, #{format}, #{state})
    </insert>

    <select id="listLogsByUserIdAndState" resultMap="logGroup">
        SELECT
            RL.id rawLogId, RL.log_name rawLogName, RL.format rawLogFormat,
            RL.create_date rawLogCreateDate, RL.state rawLogState, RL.userid rawLogUserId,
            normal_log.id normalLogId, normal_log.log_name normalLogName, normal_log.format normalLogFormat,
            normal_log.create_date normalLogCreateDate, normal_log.state normalLogState, normal_log.userid normalLogUserId,
            normal_log.raw_log_id normalLogRawLogId,
            event_log.id eventLogId, event_log.log_name eventLogName, event_log.format eventLogFormat,
            event_log.create_date eventLogCreateDate, event_log.state eventLogState, event_log.userid eventLogUserId,
            event_log.normal_log_id eventLogNormalLogId, case_number, event_number, per_event_inCase, event_names, operator_names
        FROM
            (SELECT * FROM raw_log where userid=#{id} and state=#{state}) RL
            left join normal_log on RL.id = normal_log.raw_log_id
            left join event_log on normal_log.id = event_log.normal_log_id
    </select>

    <select id="listLogsByState" resultMap="logGroup">
        SELECT
            RL.id rawLogId, RL.log_name rawLogName, RL.format rawLogFormat,
            RL.create_date rawLogCreateDate, RL.state rawLogState, RL.userid rawLogUserId,
            normal_log.id normalLogId, normal_log.log_name normalLogName, normal_log.format normalLogFormat,
            normal_log.create_date normalLogCreateDate, normal_log.state normalLogState, normal_log.userid normalLogUserId,
            normal_log.raw_log_id normalLogRawLogId,
            event_log.id eventLogId, event_log.log_name eventLogName, event_log.format eventLogFormat,
            event_log.create_date eventLogCreateDate, event_log.state eventLogState, event_log.userid eventLogUserId,
            event_log.normal_log_id eventLogNormalLogId, case_number, event_number, per_event_inCase, event_names, operator_names
        FROM
            (SELECT * FROM raw_log WHERE  state=#{state}) RL
            left join normal_log on RL.id = normal_log.raw_log_id
            left join event_log on normal_log.id = event_log.normal_log_id
    </select>

    <resultMap id="logGroup" type="LogGroup">
        <association property="rawLog" javaType="RawLog">
            <id property="id" column="rawLogId"/>
            <result property="logName" column="rawLogName"/>
            <result property="createDate" column="rawLogCreateDate"/>
            <result property="format" column="rawLogFormat"/>
            <result property="state" column="rawLogState"/>
            <result property="userId" column="rawLogUserId"/>
            <result property="normalLogId" column="rawLogNormalLogId"/>
        </association>
        <association property="normalLog" javaType="NormalLog">
            <id property="id" column="normalLogId"/>
            <result property="logName" column="normalLogName"/>
            <result property="createDate" column="normalLogCreateDate"/>
            <result property="format" column="normalLogFormat"/>
            <result property="state" column="normalLogState"/>
            <result property="userId" column="normalLogUserId"/>
            <result property="rawLogId" column="normalLogRawLogId"/>
            <result property="eventLogId" column="normalLogEventLogId"/>
        </association>
        <association property="eventLog" javaType="EventLog">
            <id property="id" column="eventLogId"/>
            <result property="logName" column="eventLogName"/>
            <result property="createDate" column="eventLogCreateDate"/>
            <result property="format" column="eventLogFormat"/>
            <result property="state" column="eventLogState"/>
            <result property="userId" column="eventLogUserId"/>
            <result property="caseNumber" column="caseNumber"/>
            <result property="eventNumber" column="eventNumber"/>
            <result property="perEventInCase" column="perEventInCase"/>
            <result property="eventNames" column="eventNames"/>
            <result property="operatorNames" column="operatorNames"/>
        </association>
    </resultMap>

</mapper>